<div class="container">
<%= link_to "/restaurants/new" do %>
<i class="btn btn-primary mb-5">Create a new Restaurant</i>
<% end %>
  <h1>Restaurants' List</h1>
  <ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  </ul>
</div>
